.form-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 25px 0;
  border-radius: 25px;
  margin-bottom: 100px;
}
.form-input-field {
  width: 70%;
  margin-left: 15%;
  border: 1px solid rgb(190, 187, 187);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px 20px;
}
.form-input-field-btn {
  border: none;
  background-color: #5bb4fd;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
}
